.country-card-wrapper {
  height: 100vh;
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 160px;
}
.country-card-divider {
  display: flex;
  flex-flow: wrap;
  width: calc(100% + 64px);
  margin-left: -64px;
  margin-top: 32px;
}

.country-content-wrapper {
  padding-top: 64px;
  padding-left: 64px;
  box-sizing: border-box;
  flex-basis: 50%;
  -webkit-box-flex: 0;
  flex-grow: 0;
  max-width: 50%;
}

.country-content-wrapper img {
  border-radius: 10px;
  width: 100%;
}



.country-information-divider {
  display: flex;
  width: 100%;
  margin-bottom: 64px;
}

.country-information-box {
  width: 272px;
}

.country-information-text {
  margin: 0px 0px 0.35em;
  font-weight: 600;
}

.country-information-text-result {
  font-weight: 300;
}


.chip-border-countries {
  padding: 10px;
  width: 10px;
}


.back-button {
  background-color: transparent; 
  border: none;
  cursor: pointer; 
  display: flex;
  align-items: center; 
  text-decoration: none;
}

.back-button a{
  text-decoration: none;
}


.back-button.dark {
  color: #f2f2f2;
}

.back-button.light {
  color: #2b3844;
}

.back-arrow-dark {
  margin-right: 8px;
  width: 15px;
  height: 20px;
}

.back-arrow.light {
  display: none;
  margin-right: 8px; 
  width: 16px; 
  height: 16px; 
}

.back-arrow-dark.dark {
  display: none;
}

.links-to-countries {
  display: flex;
  align-items: center;
  max-width: 100%;
}

.title-border {
  margin-right: 0px;
  font-weight: 600;
}

.chips-container {
  display: flex;
  flex-direction: row;
  overflow-x: auto;
  max-width: 100%;
  margin-left: 16px;
  scrollbar-width: thin; 
  scrollbar-color: #888 transparent; 
}

/* For WebKit browsers (like Chrome, Safari) */
.chips-container::-webkit-scrollbar {
  height: 6px; /* Adjust height of scrollbar */
}

.chips-container::-webkit-scrollbar-thumb {
  background-color: #888; /* Scrollbar color */
  border-radius: 10px; /* Rounded scrollbar edges */
}

.chips-container::-webkit-scrollbar-thumb:hover {
  background-color: #555; /* Darker on hover */
}

.chips {
  height: 30px;
  margin: 1px;
  display: inline-flex;
  text-decoration: none;
  align-items: center;
  padding-left: 12px;
  padding-right: 12px;
  border-radius: 25px;
  font-family: "Open Sans", serif;
}

.chips.dark {
  background-color: #2b3844;
  color: #f2f2f2;
}
.chips.light {
  background-color: #f2f2f2;
  color: #2b3844;
}

h1 {
  font-weight: 400;
  font-size: 3rem;
  margin-top: 0px;
  margin-bottom: 16px;
}

@media only screen and (min-width: 1200px) {
  .country-card-wrapper {
    max-width: 1200px;
  }
}

@media only screen and (min-width: 600px) {
  .country-card-wrapper {
    padding-left: 24px;
    padding-right: 24px;
  }
}

@media only screen and (max-width: 900px) {
  .country-card-divider {
    flex-direction: column;
    align-content: center;
  }

  .country-content-wrapper {
    flex-basis: 100%;
    -webkit-box-flex: 0;
    flex-grow: 0;
    max-width: 100%;
  }
  .country-information-divider {
    flex-direction: column;
  }
}

/* skeleton style */

.skeleton-flag-country {
  width: 544px;
  height: 272px;
  animation: shimmer 2s ease-in-out 0.5s infinite;
  border-radius: 4px;
}

.skeleton-flag-country.dark {
  background-color: #2b3844;
}

.skeleton-flag-country.light {
  background-color: #f2f2f2;
}

.country-skeleton-information-wrapper {
  display: flex;
  align-items: center;
}

.skeleton-country-title {
  width: 200px;
  height: 30px;
  border-radius: 4px;
  animation: shimmer 2s ease-in-out 0.5s infinite;
}

.skeleton-country-title.dark {
  background-color: #2b3844;
}

.skeleton-country-title.light {
  background-color: #f2f2f2;
}

.skeleton-text {
  width: 60px;
  height: 16px;
  border-radius: 4px;
  margin-left: 5px;
  animation: shimmer 2s ease-in-out 0.5s infinite;
}

.skeleton-text.dark {
  background-color: #2b3844;
}

.skeleton-text.light {
  background-color: #f2f2f2;
}

.skeleton-chip {
  width: 50px;
  height: 25px;
  margin-left: 16px;
  border-radius: 4px;
  animation: shimmer 2s ease-in-out 0.5s infinite;
}

.skeleton-chip.dark {
  background-color: #2b3844;
}

.skeleton-chip.light {
  background-color: #f2f2f2;
}

@keyframes shimmer {
  0% {
    opacity: 1;
  }

  50% {
    opacity: 0.4;
  }

  100% {
    opacity: 1;
  }
}
