.homepage-wrapper{
    
    margin-left: auto;
    margin-right: auto;
}

@media (min-width: 900px) {
    .homepage-wrapper{
        max-width: 1200px;       
    }
}
.container-search-dropdown {
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
}



.back-button{
    background-color: transparent; 
    border: none;
    cursor: pointer; 
    display: flex;
    align-items: center; 
}

.back-arrow {
    margin-right: 8px; 
    width: 16px; 
    height: 16px; 
}

@media (min-width: 900px) {
    .homepage-wrapper{
        max-width: 1200px;       
    }
}

@media (max-width: 900px) {
    .container-search-dropdown{
        justify-content: flex-start;
        flex-direction: column;
    }
}