.country-cards{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 20px 20px;
}

.country-card{
    display: block;
    background-color: #2B3844;
    width: 400px;
}

.card-information {
    padding: 16px;
    align-items: flex-start;
}

.country-card img {
    width: 400px;
    object-fit: cover;
  } 