
.root-layout {
    min-height: 100vh;
    transition: background-color 0.3s ease, color 0.3s ease;
    
  }
  
  /* Dark mode styles */
  .root-layout.dark {
    background-color: #202C36;
    color: #f2f2f2;
  }
  
  /* Light mode styles */
  .root-layout.light {
    background-color: #f2f2f2;
    color: #2B3844;
  }